* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
/* Layout */
.center-container {
    max-width: 1400px;
    margin: 0 auto;
}

.pad-full {
    padding: 1rem 0.5rem;
}

.margin-t {
    margin-top: 2rem;
}

.flex-between {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
}

.small-text {
    font-size: 0.9rem;
}

/* /Layout */

/* Header */
header {
    background-color: #ff6900;
    color: #ffffff;
}

.logo {
    height: 35px;
}

.icon-menu{
    text-align: right;
}

.icon-menu i {
    font-size: 1.1rem;
    padding-left: 0.2rem;
}

.ul-head li {
    font-weight: 600;
    padding-right: 1rem;
}
/* /Header */

/* Main */
.item {
    width: calc(100%/3);
    padding: 0.5rem;
}

.item-img img {
    width: 100%;
}

.item-img {
    position: relative;
}

.brand {
    text-transform: capitalize;
}

.name {
    font-weight: 600;
    text-transform: uppercase;
}

.price {
    color: red;
    font-weight: 600;
}

.side-price {
    color: black;
    text-decoration-line: line-through;
    font-weight: 400;
}

.discount {
    padding: 0.2rem 0.5rem;
    font-weight: 600;
    position: absolute;
    background-color: red;
    color: white;
}

.eco {
    padding: 0.2rem 0.5rem;
    font-weight: 600;
    position: absolute;
    background-color: green;
    color: white;
}

.heart {
    font-size: 2.2rem;
    padding: 0.3rem 0.9rem;
    font-weight: 600;
    position: absolute;
    top: 10px;
    right: 0;
    background-color: white;
}

.label-one{
    bottom: 50px;
    left: 0;
}

.label-two{
    left: 55px;
    bottom: 50px;
}
/* /Main */

/* Footer */
footer {
    background-color: #1a1a1a;
    color: white
}

.pad-footer {
    padding: 1.5rem 0.5rem;
}

.info-f-name{
    font-weight: 600;
    padding-bottom: 0.5rem;
}

.ul-footer li {
    padding-right: 1rem;
}

/* /Footer */