* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #ff6900;
    color: #ffffff;
}

.center-container {
    max-width: 1200px;
    margin: 0 auto;
}

.pad-full{
    padding: 1rem;
}

.pad-left-right {
    padding-left: 0.1rem;
    padding-right: 0.1rem;
}

.flex-between {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
}

.logo {
    height: 35px;
}

.icon-menu i {
    font-size: 1.1rem;
    padding-left: 0.2rem;
}

.ul-head li {
    font-weight: 600;
    padding-right: 1rem;
}